<%= content_for :title do %>
  <%= t "page.front-end.signin" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.front-end.signin" %>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path, html: {class: "login_form"}) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me, class: "form-control" %>
        <span><%= t "session.remember" %></span>
      <% end %>
      <button type="reset" class="btn btn-warning">
        <%= t "page.front-end.action.reset" %>
      </button>
      <%= f.submit t("userLink.login"), class: "btn btn-primary" %>
      <hr>
      <p>
        <%t "userLink.newUser"%> <%= link_to t("userLink.signup"), signup_path %>
       </p>
    <% end %>
  </div>
</div>
