<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <fieldset>
      <%= f.label :content, "Answer"%>
      <%= f.text_field :content, style: "width : 60%; display : inline-block", class: "form-control" %>
      <%= f.check_box :is_correct %>
      <%= link_to("#", class: "btn btn-danger") do %>
        <i class="fa fa-times" aria-hidden="true"></i>
        <%= t "page.admin.action.remove" %>
      <% end %>
    </fieldset>
  </div>
</div>

