<%= content_for :title do %>
  <%= t "page.front-end.users.relationship.title" %>
<% end %>

<%= content_for :page_title do %>
  <%= @title %>
<% end %>

<div class="row">
  <%= render "users/user_profile" %>
  <div class="col-md-8">
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate @users %>
    <% else %>
      <%= t "page.front-end.users.no_content.relationship" %>
    <% end %>
  </div>
</div>
