<div class="space navbar-collapse">
  <ul class="breadcrumbs nav navbar-nav">
    <li class="active">
      <i class="fa fa-home" aria-hidden="true"></i>
      <%= link_to t("page.master.menu.home")%>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="feedback">
      <%= link_to('#') do %>
        <i class="fa fa-book" aria-hidden="true"></i>
        <%= t "page.master.menu.courses" %>
      <% end %>
    </li>
    <li class="feedback">
      <%= link_to('#') do %>
        <i class="fa fa-comment" style="margin-right: 5px"></i>
        <%= t "page.master.menu.about" %>
      <% end %>
    </li>
    <% if logged_in? %>
      <li><%= link_to t("userLink.list"), users_path %></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <%=current_user.name%> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to t("userLink.profile"), current_user %></li>
          <li><%= link_to t("userLink.settings"), edit_user_path(current_user) %></li>
          <li class="divider"></li>
          <li>
            <%= link_to t("userLink.logout"), logout_path, method: "delete" %>
          </li>
        </ul>
      </li>
    <% else %>
      <li class="signup">
        <%= link_to('#') do %>
          <i class="fa fa-registered" aria-hidden="true"></i>
          <%= link_to t("page.master.menu.signup"), new_user_path %>
        <% end %>
      </li>
      <li><%= link_to t("userLink.login"), login_path %></li>
    <% end %>
  </ul>
</div>
