<%= content_for :title do %>
  <%= t "userLink.list" %>
<% end %>
<h1><%= t "userLink.list" %></h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th><%= t "user_attr.name" %></th>
      <th><%= t "user_attr.email" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t("userLink.show"), user %></td>
      </tr>
    <%end%>
  </tbody>
</table>
<br>
<center><%= will_paginate %></center>

