<%= content_for :title do %>
  <%= t "page.front-end.users.list" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.front-end.users.list" %>
<% end %>
<table class = "table table-striped" id="table_users">
  <thead>
    <tr class="info">
      <th><%= t "user_attr.name" %></th>
      <th><%= t "user_attr.email" %></th>
      <th><%= t("userLink.show") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to user, class: "btn btn-info btn-sm" do %>
            <i class="fa fa-eye" aria-hidden="true"></i>
            <%= t("userLink.show") %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<br>
<center><%= will_paginate %></center>

