<%= content_for :title do %>
  <%= t "page.front-end.signup.signup" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.front-end.signup.signup" %>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <button type="reset" class="btn btn-warning">
        <%= t "page.front-end.action.reset" %>
      </button>
      <%= f.submit t("userLink.create"), class: "btn btn-primary" %>
      <hr>
      <p><%= link_to t("page.front-end.signup.login"), login_path %></p>
    <% end %>
  </div>
</div>
