<%= content_for :title do %>
  <%= t "page.front-end.users.title" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.front-end.users.page_title" %>
<% end %>
<div class="row">
  <%= render "user_profile" %>
  <div class = "col-md-8">
    <% if @activities.size > 0 %>
      <ul class="user_process">
        <%= render @activities %>
      </ul>
      <%=  will_paginate @activities %>
    <% else%>
      <%= t "page.front-end.users.no_content.activity" %>
    <% end %>
  </div>
</div>
