<%= content_for :title do %>
  <%= t "page.front-end.words.index.title" %>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.front-end.words.index.page_title" %>
<% end %>

<div class="words_list">
  <%= form_tag words_path, method: :get, id: "form-filter-words" do %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="head">
          <div class="form-filter">
            <div class="col-md-3 form-group">
              <%= label_tag :category_id %>
              <%= select_tag :category_id,
                options_for_select(@choose_category),
                class: "form-control" %>
            </div>
            <div class="col-md-9 form-group">
              <%= label_tag :filter_type %><br/>
              <div class="radio-checkbox">
                <% Settings["filter_types"].each do |type| %>
                  <%= radio_button_tag :word_type, type,
                    type == Settings["filter_types"].last,
                    class: "form-control" %>
                  <%= label_tag type %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  <th><%= t "page.front-end.words.index.STT" %></th>
                  <th><%= t "page.front-end.words.index.native_word" %></th>
                  <th><%= t "page.front-end.words.index.meaning" %></th>
                  <th><%= t "page.front-end.words.index.category" %></th>
                </tr>
              </thead>
              <tbody class="words-rows">
                <%= render "word" %>
              </tbody>
            </table>
            <%= will_paginate @words%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
