<%= content_tag_for(:tr, category) do %>
  <td class="text-right"><%= category.id %></td>
  <td class="text-center">
    <%= category.name %>
    <div class="hidden">
      <%= link_to t("page.admin.action.edit"), edit_admin_category_path(category) %> |
      <%= link_to t("page.admin.action.delete"), admin_category_path(category), method: :delete,
      confirm: t("page.admin.confirm"), remote: true, class: "text-danger" %>
    </div>
  </td>
  <td class="truncate"><%= category.description %></td>
  <td class="text-center"><%= category.words.count %></td>
  <td class="text-center">
    <%= link_to t("page.admin.action.edit"), edit_admin_category_path(category) %>|
    <%= link_to t("page.admin.action.delete"), admin_category_path(category), method: :delete,
      confirm: t("page.admin.confirm"), remote: true, class: "text-danger" %>
  </td>
<% end %>

