<%= content_for :title do %>
  <title><%= t "page.admin.categories.title" %></title>
<% end %>

<%= content_for :page_title do %>
  <%= t "page.admin.categories.edit.page_title" %>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @category]) do |f| %>
      <% @category.errors.full_messages.each do |msg| %>
        <p class="text-danger"><%= msg %></p>
      <% end %>
      <div class="form-group">
        <%= f.label :name, class: "label-control" %>
        <%= f.text_field :name, class: "form-control name_category" %>
      </div>
      <div class="form-group">
        <%= f.label :description, class: "label-control" %>
        <%= f.text_area :description, class: "form-control description_category" %>
      </div>
      <button type="button" class="btn btn-default cancel_button" onclick="window.history.back()"><%= t "page.admin.action.cancel"%></button>
      <%= f.submit t("page.admin.action.edit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

