<% provide :title, t("category.allcate") %>
<hr>
<table class = "table table-striped">
  <thead>
    <tr>
      <th><%= t "category.name" %></th>
      <th><%= t "category.desc" %></th>
      <th><%= t "category.number_of_lesson" %></th>
    </tr>
  </thead>
    <%= render @categories %>
  </tbody>
</table>
<%= will_paginate %>
