<ul class="sidebar-menu">
  <li class="treeview">
    <%= link_to("#") do %>
      <i class="fa fa-users" aria-hidden="true"></i>
      <%= t "page.admin.menu.users" %>
    <% end %>
  </li>
  <li class="treeview">
    <%= link_to("#") do %>
      <i class="fa fa-book" aria-hidden="true"></i>
      <%= t "page.admin.menu.category.index" %>
    <% end %>
    <ul class="treeview-menu">
        <li>
          <%= link_to("#") do %>
            <i class="fa fa-list" aria-hidden="true"></i>
            <%= t "page.admin.menu.category.list" %>
          <% end %>
        </li>
        <li>
          <%= link_to("#") do %>
            <i class="fa fa-plus" aria-hidden="true"></i>
            <%= t "page.admin.menu.category.add" %>
          <% end %>
        </li>
    </ul>
  </li>
</ul>

